# DH 140 Final Project
Ashley Lee

## Introduction

The college application process can be a daunting yet exciting process. Throughout the process, applicants are researching schools to apply to and fields to major in. And once this is all finished, applicants must go through another process of deciding which school to commit to, which is not an easy decision to make. Throughout college as well, it is not uncommon for people to change majors, sometimes completely changing their career path or even transferring colleges. These changes are motivated by various reasons, some being salary, interest, or career opportunities.

As I am approaching the end of my senior year and about to graduate, this topic has been on my mind more frequently. I also find this to be a topic of discussion amongst most of my conversations. These are all factors that I considered when applying to college and am now considering while on the job hunt, so researching more about this can allow me to have more insight on my post-grad options and how much weight my college career has on my future.

This research will explore the various factors that affect salary after graduation. Some of these factors include college attended, major(s), and field(s) studied. This research will allow new graduates to have a better understanding of their post-grad future and how their salary can be affected by their college career and field of choice.

**Datasets:**

*Degrees that Pay Back*: This dataset shows the starting and mid-career median salaries of each undergraduate major. This data was and is based on survey data from Payscale, Inc. We will explore this dataset to observe the relationship between undergraduate major and salary.
https://www.kaggle.com/datasets/wsj/college-salaries?select=degrees-that-pay-back.csv

*Salaries by College Type*: This dataset classifies each school with a type (Ivy League, Engineering, Liberal Arts, etc.) and shows its respective median salary. This dataset can be used to explore the relationship between school types and salary.
https://www.kaggle.com/datasets/wsj/college-salaries?select=salaries-by-college-type.csv

## About the Data

Create another section in your notebook that explores and presents information about your data

This can include summary information about the data, summary statistics where appropriate, an identification of where there may be missing/incorrect/outlier data, and data preprocessing
It should include at least 4 exploratory data visualizations
This section does not need to be polished yet, but it should be a good foundation

In [38]:
import pandas as pd
import matplotlib.pyplot as plt

degrees = pd.read_csv('degrees-that-pay-back.csv')
salaries = pd.read_csv('salaries-by-college-type.csv')

#plt.bar(degrees['Undergraduate Major'], degrees['Starting Median Salary'])
#plt.hist(salaries['Starting Median Salary'], bins=100, edgecolor='black')

TypeError: Could not convert $72,200.00$75,500.00$71,800.00$62,400.00$62,200.00$61,000.00$61,800.00$61,100.00$58,300.00$58,100.00$60,600.00$56,000.00$53,000.00$53,500.00$55,800.00$51,000.00$48,900.00$52,700.00$46,200.00$52,900.00$52,000.00$50,500.00$49,700.00$44,500.00$47,100.00$46,900.00$44,100.00$49,900.00$47,400.00$46,300.00$44,700.00$42,600.00$41,300.00$41,400.00$41,800.00$43,100.00$43,800.00$42,200.00$42,100.00$54,100.00$52,800.00$54,500.00$53,900.00$48,100.00$50,200.00$51,900.00$53,600.00$49,700.00$46,100.00$47,500.00$51,700.00$48,600.00$46,500.00$47,300.00$47,200.00$48,600.00$46,000.00$47,700.00$42,400.00$49,100.00$41,400.00$45,300.00$46,400.00$44,700.00$45,500.00$44,000.00$49,200.00$42,600.00$42,800.00$42,000.00$43,400.00$46,600.00$38,500.00$40,500.00$44,500.00$43,500.00$42,100.00$41,800.00$39,200.00$42,600.00$41,600.00$42,500.00$38,900.00$42,000.00$41,500.00$39,500.00$58,000.00$66,500.00$59,100.00$63,400.00$60,900.00$60,300.00$56,200.00$59,400.00$59,900.00$52,700.00$57,200.00$52,600.00$51,100.00$52,300.00$47,100.00$48,300.00$52,900.00$49,700.00$53,600.00$57,100.00$53,500.00$52,000.00$50,500.00$49,700.00$52,700.00$49,500.00$44,500.00$50,300.00$51,400.00$48,000.00$46,600.00$47,400.00$47,100.00$48,900.00$46,900.00$45,700.00$47,800.00$45,400.00$47,300.00$47,500.00$48,400.00$44,100.00$49,900.00$48,800.00$46,300.00$43,900.00$46,200.00$45,400.00$45,300.00$45,100.00$45,400.00$45,900.00$46,100.00$49,200.00$47,300.00$46,200.00$47,400.00$44,700.00$46,300.00$44,700.00$44,900.00$47,200.00$45,100.00$45,400.00$46,500.00$44,700.00$44,100.00$44,800.00$43,100.00$47,800.00$44,900.00$47,500.00$46,200.00$42,400.00$41,600.00$42,900.00$41,300.00$46,800.00$42,300.00$41,700.00$45,700.00$45,400.00$43,600.00$42,800.00$44,000.00$45,500.00$46,000.00$41,400.00$44,300.00$46,500.00$44,500.00$44,800.00$43,300.00$44,500.00$43,800.00$45,800.00$42,200.00$42,800.00$41,800.00$45,600.00$43,100.00$47,000.00$45,100.00$38,000.00$43,200.00$46,600.00$37,500.00$41,100.00$40,800.00$42,800.00$43,800.00$43,100.00$43,200.00$40,800.00$42,700.00$43,300.00$43,800.00$42,300.00$39,200.00$45,700.00$43,100.00$41,800.00$42,300.00$41,100.00$44,900.00$42,200.00$42,000.00$43,500.00$42,100.00$45,900.00$42,400.00$41,500.00$43,000.00$43,400.00$42,700.00$41,200.00$40,300.00$39,800.00$37,300.00$42,600.00$40,000.00$45,200.00$41,800.00$40,700.00$38,000.00$42,600.00$42,600.00$41,100.00$42,600.00$38,600.00$42,500.00$41,100.00$38,000.00$39,200.00$41,400.00$40,800.00$36,100.00$42,200.00$40,400.00$42,000.00$43,600.00$40,200.00$42,400.00$41,400.00$36,900.00$39,300.00$37,800.00$38,900.00$41,400.00$39,100.00$37,500.00$39,800.00$39,400.00$38,700.00$38,700.00$40,800.00$35,800.00$34,800.00$37,700.00$40,400.00$41,900.00$37,900.00$35,300.00 to numeric

In [22]:
salaries

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00","$76,800.00","$99,200.00","$168,000.00","$220,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00","$66,800.00","$94,300.00","$143,000.00","$190,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",NaN,"$80,200.00","$142,000.00",NaN
...,...,...,...,...,...,...,...,...
264,Austin Peay State University,State,"$37,700.00","$59,200.00","$32,200.00","$40,500.00","$73,900.00","$96,200.00"
265,Pittsburg State University,State,"$40,400.00","$58,200.00","$25,600.00","$46,000.00","$84,600.00","$117,000.00"
266,Southern Utah University,State,"$41,900.00","$56,500.00","$30,700.00","$39,700.00","$78,400.00","$116,000.00"
267,Montana State University - Billings,State,"$37,900.00","$50,600.00","$22,600.00","$31,800.00","$78,500.00","$98,900.00"
268,Black Hills State University,State,"$35,300.00","$43,900.00","$27,000.00","$32,200.00","$60,900.00","$87,600.00"

## Analysis

Create a section in your notebook that includes the beginnings of your analysis

This should include code for data analysis directly relevant to your question(s) of interest
Include an additional 4 data visualizations that are directly relevant to your topic 
Or describe 4 data visualizations that you want to make
This section does not need to be polished yet, but it should be a good foundation